body {
  background-color: #a99998;
}
.inner-edge {
  background-color: #eaecdf;
  border-radius: 3px;
  padding:10px;
  width: auto;
  -webkit-box-shadow: 4px 6px 18px 2px rgba(0,0,0,0.75);
     -moz-box-shadow: 4px 6px 18px 2px rgba(0,0,0,0.75);
          box-shadow: 4px 6px 18px 2px rgba(0,0,0,0.75);
}
.calculator {
  min-height:300px;
  padding-top:55px;
  font-size:22px;
}
.input-area {
  margin-top: 9px;
  margin-bottom:8px;
  border-radius:3px;
  border:none;
  webkit-box-shadow: inset -1px 0px 47px -20px rgba(0,0,0,0.45);
    -moz-box-shadow: inset -1px 0px 47px -20px rgba(0,0,0,0.45);
         box-shadow: inset -1px 0px 47px -20px rgba(0,0,0,0.45);
}
.col-md-3 {
  padding:2px;
  width: 25%;
  border: 1px solid #fff;
  background-color: #afca5b;
}
.equals-button {
  padding:2px;
  border: 1px solid #fff;
  background-color: #afca5b;
}
 
.pendingFunction {
  background-color: #9db551;
}
.num-row {
  margin: 5px;
}
.title {
 padding-top: 22px;
 color: #eaecdf;
 font-size: 50px;
 font-family: 'Bree Serif', serif;
}
hr {
  border-top: 2px solid #afca5b;

}
a:hover {
  text-decoration: none;
}